<configuration xmlns:ns0="urn:schemas-microsoft-com:asm.v1">
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <ns0:assemblyBinding>
      <ns0:dependentAssembly>
        <ns0:assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <ns0:bindingRedirect oldVersion="0.0.0.0-1.0.118.0" newVersion="1.0.118.0" />
      </ns0:dependentAssembly>
    </ns0:assemblyBinding>
  </runtime>
<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <ns0:assemblyBinding>
      <ns0:dependentAssembly>
        <ns0:assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <ns0:bindingRedirect oldVersion="0.0.0.0-1.0.118.0" newVersion="1.0.118.0" />
      </ns0:dependentAssembly>
    </ns0:assemblyBinding>
  </runtime>
<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <ns0:assemblyBinding>
      <ns0:dependentAssembly>
        <ns0:assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <ns0:bindingRedirect oldVersion="0.0.0.0-1.0.118.0" newVersion="1.0.118.0" />
      </ns0:dependentAssembly>
    </ns0:assemblyBinding>
  </runtime>
<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <ns0:assemblyBinding>
      <ns0:dependentAssembly>
        <ns0:assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <ns0:bindingRedirect oldVersion="0.0.0.0-1.0.118.0" newVersion="1.0.118.0" />
      </ns0:dependentAssembly>
    </ns0:assemblyBinding>
  </runtime>
<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <ns0:assemblyBinding>
      <ns0:dependentAssembly>
        <ns0:assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <ns0:bindingRedirect oldVersion="0.0.0.0-1.0.118.0" newVersion="1.0.118.0" />
      </ns0:dependentAssembly>
    </ns0:assemblyBinding>
  </runtime>
<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <ns0:assemblyBinding>
      <ns0:dependentAssembly>
        <ns0:assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <ns0:bindingRedirect oldVersion="0.0.0.0-1.0.118.0" newVersion="1.0.118.0" />
      </ns0:dependentAssembly>
    </ns0:assemblyBinding>
  </runtime>
</configuration>